.container {
  width: 75%;
  min-height: 40vh;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg {
  width: 100%;
  transform: rotate(-90deg);
  position: absolute;
}

.circle__00 {
  fill: none;
  stroke: #303030;
  stroke-width: 0.85rem;
}

.circle__01 {
  fill: none;
  stroke: #45D865;
  stroke-width: 0.85rem;
  stroke-dasharray: 950;
  transition: all 1.0s linear;
}

.children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
