.report {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
}

.report_control {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 2;
  padding-top: 1.25rem;
}

.report_control:first-child {
  grid-column: 1;
}

.report_control:last-child {
  grid-column: 3;
}

.report_control button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #808080;
  border-radius: 50%;
  transition: all 0.10s ease-in-out;
}

.report_control button:active {
  background-color: #303030;
}

.report_month {
  grid-row: 1;
  grid-column: 2;;
  font-size: 1.25rem;
  margin: 16px 0 0px 0;
  text-align: center;
}

.report_content {
  grid-row: 2;
  grid-column: 2;
  font-size: 1.5rem;
  margin: 16px 0;
}

.report_days {
  display: flex;
  font-size: 0.90rem;
}

.report_day {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.report_number {
  margin: 8px 0;
  color: #808080;
}

.report_hours {
  width: 16px;
  height: 150px;
  position: relative;
  border-radius: 16px;
  background-color: #303030;
}

.report_value {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 16px;
  height: 0px;
  border-radius: 16px;
  background-color: #45D865;
  transition: height 0.5s ease-in-out;
}

@media screen and (min-width: 400px) {
  .report_day {
    width: 48px;
  }

  .report_hours, .report_value {
    width: 20px;
  }
}
