.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 1.5rem;
}

.container select {
  margin: 1.0rem 0;
  padding: 0.25rem 1.0rem;
}

.container button {
  margin: 1.0rem 0;
  padding: 0.5rem 2.0rem;
}
