.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  margin: 0 auto;

  height: 100%;
  max-width: 500px;
  max-height: 1000px;
  font-size: 1.5rem;

  background-color: #202020;
  color: #a0a0a0;
}

.stopwatch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.0rem;
}

.protocol {
  position: absolute;
  top: -2.5rem;

  color: #757575;
  font-size: 1.0rem;
  font-weight: bolder;

  display: flex;
  align-items: center;
}

.protocol svg {
  width: 1.0rem;
  height: 1.0rem;
  margin: 0 0.45rem;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 8px 0;
  padding: 0 48px;
  font-size: 0.85rem;
  color: #808080;
}

.status__line {
  display: flex;
  align-items: center;
  margin-right: 4px;
  margin-top: 4px;
}

.status table svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.45rem;
}

.status td {
  padding: 4px 0;
}

td.highlight {
  color: hsl(0, 0%, 75%);
}

.status th {
  padding-right: 0.5rem;

  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
}

.action button {
  margin: 16px 0;
  padding: 0.65rem 3.0rem;
  color: #45D865;
  background-color: transparent;
  border: 0.125rem solid #45D865;
  border-radius: 1.25rem;
  font-weight: bolder;
  text-transform: uppercase;
  transition: all 0.25s ease-in-out;
}

.action button:active {
  background-color: hsl(133, 65%, 15%);
}
