.container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 8px 16px;

  background-color: #202020;
  color: #959595;
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
  margin-bottom: 8px;
  padding-top: 8px;
}

.container h2 {
  margin-top: 16px;
  margin-bottom: 0;

  font-size: 1.0rem;
  text-transform: uppercase;
  color: #757575;
}

.container label {
  margin: 0 12px;
}

.container label:last-child {
  margin-right: 0;
}

.container form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 16px;
}

.container input[type="radio"] {
  display: none;
}

.container form svg {
  color: #454545;
}

.container input[type="radio"]:checked + svg {
  color: #ffd000;
}
